@import "tailwindcss";

html, body {
  @apply bg-slate-900 text-slate-50;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
